<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h3 id="h3">Board Detail Page!!</h3>
    <hr>
    <form action="/board/modify" method="post" enctype="multipart/form-data" id="modForm">
        <div class="mb-3">
            <label for="bno" class="form-label">No</label>
            <span class="badge text-bg-secondary">[[${boardDTO.regAt}]]</span>
            <input type="text" class="form-control" id="bno" name="bno" th:value="${boardDTO.bno}" readonly>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${boardDTO.title }" readonly>
        </div>
        <div class="mb-3">
            <label for="writer" class="form-label">Writer</label>
            <input type="text" class="form-control" id="writer" name="writer" th:value="${boardDTO.writer }" readonly>
        </div>
        <div class="mb-3" >
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" name="content" id="content" cols="10" rows="3" readonly>[[${boardDTO.writer}]]</textarea>
        </div>

        <!--/* Detail 페이지에서 보여질 버튼들! */-->
        <button type="button" id="listBtn" class="btn btn-secondary btn-sm">목록</button>
        <!--/* detail에서 modify 상태로 변경하기 위한 버튼 */-->
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
            <button type="button" id="modBtn" class="btn btn-secondary btn-sm">수정</button>
            <a th:href="@{/board/delete(bno=${boardDTO.bno})}"><button type="button" id="delBtn" class="btn btn-secondary btn-sm">삭제</button></a>
        </div>
    </form>
    <script th:src="@{/js/boardDetail.js}"></script>
</div>