<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h3>Board List Page!!</h3>
    <hr>

    <!--/* 리스트 */-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bvo:${list}">
            <td>[[${bvo.bno }]]</td>
            <td><a th:href="@{/board/detail(bno=${bvo.bno})}" style="text-decoration: none; font-weight: bold; color: inherit;">
                [[${bvo.title }]]
            </a></td>
            <td>[[${bvo.writer }]]</td>
            <td>[[${bvo.regAt }]]</td>
        </tr>
        </tbody>
    </table>

    <!--/* 페이지네이션 */-->
    <!--/* ${ }는 JSP의 EL태그 방식, th:를 붙여서 타임리프에서 사용할 수 있게되는 것 */-->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!--/* 이전 */-->
            <!--/* th:classappend : 동적으로 클래스를 추가할 수 있음 */-->
            <li class="page-item">
                <a class="page-link" th:classappend="${pgvo.hasPrev? '' : 'disabled'}" th:href="@{/board/list(pageNo=${pgvo.startPage-2})}" style="color:#6c757d;" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--/* 번호 */-->
            <th:block>
                <li class="page-item" th:each="i : ${#numbers.sequence(pgvo.startPage, pgvo.endPage)}">
                    <a class="page-link" th:href="@{/board/list(pageNo=${i-1})}" th:style="${pgvo.pageNo eq i? 'background-color: #6c757d; color:white;' : 'color:#6c757d;'}">[[${i}]]</a>
                </li>
            </th:block>
            <!--/* 다음 */-->
            <li class="page-item">
                <a class="page-link" th:classappend="${pgvo.hasNext? '' : 'disabled'}" th:href="@{/board/list(pageNo=${pgvo.endPage})}" style="color:#6c757d;" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>